<header class="flex">
  <h1>Welcome to Contoso public website!</h1>
</header>
<main>
  <div class="left">
    <contoso-news></contoso-news>
  </div>
  <div class="right">
    <h2>What is Contoso?</h2>
    <p>
      I really don't know. I've seen Microsoft use it in their documentation CD roms from like 10 years ago so I'm assuming 
      it's their fictional organisation. Seems pretty useful so I'm just gong to steal it. Cheers Bill!
    </p>
    <img src="https://docs.microsoft.com/en-us/microsoft-365/media/contoso-overview/contoso-overview-fig1.png?view=o365-worldwide">
  </div>
</main>